.symbolsView {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.symbolsView__chart {
  padding: 12px;
}

@media screen and (min-width: 1024px) {
  .symbolsView {
    flex-direction: row;
  }

  .symbolsView__chart {
    width: 400px;
    order: 2;
    margin: 0px 20px;
  }

  .symbolsView__cards {
    flex-grow: 1;
    order: 1;
  }
}