.symbolCard {
  background-color: var(--colorWhite);
  display: flex;
  flex-direction: column;
  margin: 10px;
  transition: all 0.3s ease;
}

.symbolCard--active {
  margin: 0px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.symbolCard--deactive {
  margin: 15px;
}

.symbolCard__header {
  background-color: var(--colorDark);
  color: var(--colorWhite);
  padding: 5px;
  position: relative;
}

.symbolCard__content {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.symbolCard__content:not(.symbolCard__header) {
  background-color: var(--colorWhite);
  padding: 5px;
  justify-content: space-between;
}

.symbolCard__icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.symbolCard__price {
  font-size: 18px;
  font-weight: bold;
  color: var(--colorDark);
}

.symbolCard__priceValue {
  font-size: 30px;
  font-weight: bold;
  margin-left: 5px;
}

.symbolCard__id {
  margin-right: 10px;
}

.symbolCard__trendIcon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  right: -25px;
}

.symbolCard__redShadow {
  box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.5);
}

.symbolCard__greenShadow {
  box-shadow: 0 0 5px 2px rgba(0, 255, 0, 0.5);
}

.symbolCard__shake {
  animation: shake 0.62s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {

  10%,
  90% {
    transform: translateX(-2px);
  }

  20%,
  80% {
    transform: translateX(4px);
  }

  25%,
  35%,
  45%,
  55%,
  65%,
  75% {
    transform: translateX(-6px);
  }

  30%,
  40%,
  50%,
  60%,
  70% {
    transform: translateX(6px);
  }
}